.rounded {
  border-radius: 1.50rem!important;
}

.index.body {
  background-size: 100%;
  background-color: rgba(255,255,255,0);
  background-position: 0% 0%;
  background-image: url("../../assets/img/index.png");
}

