<!DOCTYPE html>

{% extends 'SocialApp/Base.html' %}

{% block content %}

    <html>

        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <title>Social</title>
        </head>

        <body class="news-create body-background">
            <main class="news-create main">
                <div class="border rounded">
                    <form method="post" action="{% url 'social_create_news' %}">
                        {% csrf_token %}
                        <div style="margin-top: 10px;margin-bottom: 10px;"> {{ form.subject }} </div>
                        <div style="margin-top: 10px;margin-bottom: 10px;"> {{ form.text }} </div>
                            <div class="form-group" style="color: rgb(255,0,0); font-size: 12px">
                                {% for error, message in form.errors.items %}
                                    <p> {{ message }} </p>
                                {% endfor %}
                            </div>
                        <button class="btn btn-primary" type="submit" style="font-size: 24px;background-color: rgb(218,23,122);">Post news</button>
                    </form>
                </div>
            </main>
        </body>

    </html>

{% endblock content %}