<!DOCTYPE html>

{% extends 'SocialApp/Base.html' %}

{% block content %}

    <html style="background-size: cover;background-repeat: space;background-position: center;">

        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <title>Social</title>
        </head>

        <body class="index body">
            <div class="border rounded" style="background-color: #ffffff;height: 600px;margin: 50px;">
                <h1 style="padding: 30px;">Welcome to Space Forum</h1>
                <p style="padding: 30px;font-size: 24px;filter: blur(0px) sepia(0%);">Paragraph</p>
            </div>
        </body>

    </html>

{% endblock content %}