<!DOCTYPE html>

{% extends 'SocialApp/Base.html' %}

{% load static %}
{% block content %}

    <html>

        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <title>Social</title>
        </head>

        <body class="news-create-body" style="background-repeat: repeat;">
            <main style="margin: 50px;">
                <div style="margin-top: 10px;margin-bottom: 30px;"><a class="btn btn-primary border rounded" style="font-size: 24px;background-color: rgb(11,254,224);color: rgb(0,0,0);" role="button" href="{% url 'social_create_news' %}">Create new post</a></div>
                <div>
                    {% for new in news %}                  
                        <div class="media border rounded" style="background-color: rgba(253,93,119,0.8);margin: 0px;margin-top: 20px;">
                            <div style="margin: 10px;">
                                <ul class="list-unstyled">
                                    <li class="d-xl-flex justify-content-xl-center align-items-xl-center"><img class="rounded-circle img-fluid d-xl-flex" style="max-width: 100px;" src={% static 'assets/img/news_avatar.jpg' %}></li>
                                    <li class="d-xl-flex justify-content-xl-center align-items-xl-center" style="font-size: 20px;"><em> {{ new.user }} </em></li>
                                </ul>
                            </div>

                            <div class="media-body" style="margin: 10px;">
                                <a class="btn btn-primary" role="button" style="background-color: rgba(0,123,255,0); border: 0px; ;color: rgb(47,41,46);font-size: 32px;font-weight: 500;" href="{% url 'social_post' new.id %}"> {{ new.subject }} </a>
                                <p class="text-justify" style="margin-right: 16px;font-size: 24px;"> {{ new.text }} </p>
                            </div>

                        </div>
                    {% endfor %}

                    <nav style="margin-top: 20px;">               

                        <form method="GET" action="{% url 'social_news' %}">                                            
                            {% for num in page_count %}
                                <button class="btn btn-primary" style="background-color: aqua; border-color: aqua; color: black;" name="page" type="submit" class="page-link" value="{{ num }}">{{ num }}</button>
                            {% endfor %}
                        </form>                  

                    </nav>

                </div>
                
            </main>
        </body>

    </html>

{% endblock content %}